// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
  background-image: url("running-573762_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
}

.main{
  margin-top: 25%;
  margin-left: 15%;
}

h1 {
  opacity: 50%;
  font-size: 80px;
  
}

p {
  opacity: 50%;
  font-size: 20px;
  
}