<%= stylesheet_link_tag "top/toppages", :media => "all" %>


<div class="main">
  <h1>Myworkout</h1>
  <p>Workoutを管理し理想へ努力をMemoryとして</p>
    <div class="texe-center">
      <button type="button" class="btn btn-dark btn-lg"><%= link_to "Let's workout",signup_path %></button>
    </div>
</div>


  