<%= stylesheet_link_tag "top/toppages", :media => "all" %>

<div class="main">
  <h1>Myworkout</h1>
  <p>Workoutを管理し理想の体へ</p>
  <button type="button" class="btn btn-outline-dark btn-lg"><%= link_to "Let's workout",signup_path %></button>
</div>

  